.navbar {
    background-color: #f3f5ee;
    height: 65px;
  }
.navbar li {
color: black;
border: none;
margin: 0px;
padding-top: 10px;
padding-right: 5px;
padding-left: 5px;
font-size: 20px;
cursor: pointer;
font-family: "Work Sans", sans-serif;
font-weight: 300;
height: 55px;
list-style-type: none;
}
.navbar ul {
    padding: 0px;
    margin: 0px;
}
.navbar h2{
    margin: 0px;
    padding: 5px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 200;
}
.navbar-container li:hover {
    background-color: #ad9191;
}

.navbar li,
.menuhover {
  float: right;
}

.navbar h2{
  color: black;
}
