.navbar {
  background-color: #c1e3e6;
  height: 65px;
  width: 100%;
  padding: 0px;
  margin: 0px;
}
.navbar li {
  color: black;
  border: none;
  margin: 0px;
  padding-top: 10px;
  font-size: 20px;
  cursor: pointer;
  font-family: "Work Sans", sans-serif;
  font-weight: 300;
  height: 55px;
  list-style-type: none;
  display: inline-block;
  width: 25%;
  text-align: center;
}
.navbar ul {
  padding: 0px;
  margin: 0px;
}
.navbar h2 {
  margin: 0px;
  padding: 5px;
  font-family: "Noto Sans", sans-serif;
  font-weight: 200;
}
.navbar li:hover {
  background-color: #cdcdcd;
}

.navbar h2 {
  color: black;
}

.navbar a {
  text-decoration: none;
  color: black;
}

/* Different solid colors for each tab, gradually getting darker */
.menuhover1 {
  background-color: #e3f6f8; /* Lightest color */
}

.menuhover2 {
  background-color: #c1e3e6; /* Slightly darker */
}

.menuhover3 {
  background-color: #00a6b2; /* Even darker */
}

.menuhover4 {
  background-color: #00909a; /* Darkest color */
}
